.bg_header{
    background: #EEAECA;
background: linear-gradient(28deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 0%);
}

.bg-around{
    background: #790909;
    background: linear-gradient(134deg, rgba(121, 9, 9, 1) 17%, rgba(121, 9, 9, 1) 25%, rgba(255, 0, 0, 1) 100%);
}

